/* font family link */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* reset code start here */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fira Sans", serif;
}
/* reset code end here */

/* common code start here  */
.container{
    width: 80%;
    margin: 0 auto;
}
.flex-direction{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* .flex-item{
    padding: 0rem;
}
.font-family{
    font-family: serif;
} */
.cursor{
    cursor: pointer;
    transition: 1s;
}
.btn-primary{
    outline: none;
}
.btn-primary{
    padding: 12px 30px;
    background: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 600;
    border: none;
}
.bg-primary{
    width: 100%;
    background-color: #ebebeb;
}
.section-spacing{
    padding: 2rem 0;
}
/* common code end here  */

/* navbar section code start here */
.nav-items{
    display: flex;
    justify-content: space-between;
    padding: 25px 0;
    align-items: center;
}
.nav-btn{
    border: 2px solid #006A50;
    color: #006A50;
}
.nav-btn:hover{
    background-color: #C6E4D6;
    transition: 1s;
}
.logo{
    font-size: 1.8em;
}
/* navbar section code end here */

/* banner section code start here */
.banner{
    background-color: #C6E4D6;
    padding: 80px 100px;
    border-radius: 20px;
}
.banner-item{
    width: 50%;
}
.banner-text > h3{
    font-size: 20px;
    color: #b3b3b3;
}
.banner-text > h2{
    font-size: 35px;
    margin: 1.5rem 0;
    font-weight: 700;
}
.banner-img img{
    width: 100%;
}
.banner-btn{
    background-color: #006A50;
    color: white;
}
.banner-btn:hover{
    border: 1px solid #006A50;
    color: #006A50;
    background: none;
}
/* banner section code end here */

/* pillars-cars secttion code start here */
.pillars-header{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 1rem;
}
.pillars-cars > .card{
    background-color: white;
    margin: 1rem;
    padding: 1rem;
    border-radius: 16px;
}

.pillars-cars > .card > h3{
    margin: 15px 0;
}
/* pillars-cars secttion code end here */

/* future section code start here */
.future{
    margin-bottom: 1rem;
}
.future > p{
    line-height: 23px;
}
.card-future{
    margin: 1em;
    padding: 2em;
    border-radius: 1em;
}
.card-future > h3{
    margin: 10px 0;
}
.card-future-skey{
    background-color: #d0e1ff;
}
.card-future-green{
    background-color: #C6E4D6;
}
.card-future-yellow{
    background-color: #F7EBCF;
}
.btn-skey{
    background-color: #5490F5;
    color: white;
    margin: 1em 0;
}
.btn-skey:hover{
    border: 1px solid #5490F5;
    background: none;
    color: #5490F5;
}
.btn-green{
    background-color: #09A15C;
    color: white;
    margin: 1em 0;
}
.btn-green:hover{
    border: 1px solid #09A15C;
    background: none;
    color: #09A15C;
}
.btn-yellow{
    background-color: #FFC239;
    color: white;
    margin: 1em 0;
}
.btn-yellow:hover{
    border: 1px solid #FFC239;
    background: none;
    color: #FFC239;
}
/* future section code end here */

/* Dr. Muhammad Yunus section code start here */
.yunus{
    background-image: url("../assets/quote-bg.png");
    border: 1px solid #bdbcbc;
    background-color: #fff;
    background-repeat: no-repeat;
    padding: 2.5em 1.5em;
    border-radius: 1em;
    background-position: 26px 15px;
}
.yunus > p{
    color: #4e4b4b;
}
.repu-yunus{
    margin: 1rem 0;
}
.repu-yunus > h2{
    font-size: 20px;
    color: #4f4d4d;
    margin-bottom: 10px;
}
.repu-yunus > p{
    color: #7e7b7b;
}
/* Dr. Muhammad Yunus section code end here */


/* opinion section start here */
.opinion{
    background: white;
    padding: 2em;
    border-radius: 1em;
    margin: 2em 0;
}
.table{
    border-collapse: collapse;
    width: 100%;
    text-align: left;
}
th{
    background-color: #C6E4D6;
}
td, th{
    border: 1px solid #dcdcdc;
    padding: 1em;
}
.option{
    text-align: center;
}
td select {
    background-color: #C6E4D6;
    text-align: center;
    padding: 0.8em 1.5em;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
}
/* opinion section end here */

/* recent-news section start here */
.recent-news{
    background-color: #fff;
    border-radius: 1em;
    padding: 2em;
    margin: 2em 0;
    align-items: start;
}
.recent-news-img > img{
    border-radius: 1em;
    margin: 1em;
}
.recent-news-txt{
    padding: 1em 1em 1em 2em;
}
.recent-news-txt > h2{
    margin-bottom: 1em;
}
.recent-news-txt > div{
    margin: 1em 0;
}
.recent-news-txt > p{
    line-height: 23px;
}
/* recent-news section end here */

/* donate today section start here */
.donate{
    text-align: center;
}
.donate-item{
    background-color: #fff;
    border: 1px solid #bdbcbc;
    margin: 20px;
    border-radius: 1em;
}
.donate-item > h2{
    font-size: 35px;
    padding: 20px;
}
.donate-bg{
    background-color: #C6E4D6;
}
.donate-amount{
    text-align: center;
}
.donate-amount > input{
    border: none;
    outline: none;
    width: 76%;
    padding: 10px 1em;
    border-bottom: 1px solid #bdbcbc;
    text-align: center;
    font-size: 20px;
}
/* donate today section end here */

/* sub-news section start here */
.sub-news{
    text-align: center;
    background-color: #C6E4D6;
    border-radius: 1em;
    padding: 2em;
}
.sub-news > h2{
    font-size: 2em;
    margin-bottom: 1em;
}
.sub-news > p{
    line-height: 23px;
    color: #0E0E0E;
}
.subcribe{
    margin: 10px 0;
}
.subcribe > input{
    width: 50%;
    outline: none;
    border: none;
    padding: 1em 2em;
    border-radius: 10px 0 0 10px;
}
.subcribe > button{
    border-radius: 0 10px 10px 0;
    /* margin: 2px 0 0 -4px; */
    position: relative;
    top: 2px;
    left: -4px;
    padding: 1px -3px;
    padding: 10px 18px;
}
.sub-news > .promise{
    font-size: 13px;
    color: #444343;
}
.footer{
    text-align: center;
    padding: 2em 0;
    margin: 1em 0;
}
.footer > div{
    width: 70%;
    border-bottom: 1px solid #d4d3d3;
    margin: 1em auto;
}
.footer-icon{
    margin: 0 20px;
    text-decoration: none!important;
}
/* sub-news section end here */