/* font family link */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* reset code start here */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fira Sans", serif;
}
/* reset code end here */

/* common code start here  */
.container{
    width: 80%;
    margin: 0 auto;
}
.flex-direction{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* .flex-item{
    padding: 0rem;
}
.font-family{
    font-family: serif;
} */
.cursor{
    cursor: pointer;
    transition: 1s;
}
.btn-primary{
    outline: none;
}
.btn-primary{
    padding: 12px 30px;
    background: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 600;
    border: none;
}
.bg-primary{
    width: 100%;
    background-color: #ebebeb;
}
.section-spacing{
    padding: 2rem;
}
/* common code end here  */

/* navbar section code start here */
.nav-items{
    display: flex;
    justify-content: space-between;
    padding: 25px 0;
    align-items: center;
}
.nav-btn{
    border: 2px solid #006A50;
    color: #006A50;
}
.nav-btn:hover{
    background-color: #C6E4D6;
    transition: 1s;
}
.logo{
    font-size: 1.8em;
}
/* navbar section code end here */

/* banner section code start here */
.banner{
    background-color: #C6E4D6;
    padding: 80px 100px;
    border-radius: 20px;
}
.banner-item{
    width: 50%;
}
.banner-text > h3{
    font-size: 20px;
    color: #b3b3b3;
}
.banner-text > h2{
    font-size: 56px;
    margin: 1.5rem 0;
    font-weight: 700;
}
.banner-img img{
    width: 100%;
}
.banner-btn{
    background-color: #006A50;
    color: white;
}
.banner-btn:hover{
    border: 1px solid #006A50;
    color: #006A50;
    background: none;
}
/* banner section code end here */

/* pillars-cars secttion code start here */
.pillars-header{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 1rem;
}
.pillars-cars > .card{
    background-color: white;
    margin: 1rem;
    padding: 1rem;
    border-radius: 16px;
}

.pillars-cars > .card > h3{
    margin: 15px 0;
}
/* pillars-cars secttion code end here */

/* future section code start here */
.future{
    margin-bottom: 1rem;
}
.future > p{
    line-height: 23px;
}
.card-future{
    margin: 1em;
    padding: 2em;
    border-radius: 1em;
}
.card-future > h3{
    margin: 10px 0;
}
.card-future-skey{
    background-color: #d0e1ff;
}
.card-future-green{
    background-color: #C6E4D6;
}
.card-future-yellow{
    background-color: #F7EBCF;
}
.btn-skey{
    background-color: #5490F5;
    color: white;
    margin: 1em 0;
}
.btn-skey:hover{
    border: 1px solid #5490F5;
    background: none;
    color: #5490F5;
}
.btn-green{
    background-color: #09A15C;
    color: white;
    margin: 1em 0;
}
.btn-green:hover{
    border: 1px solid #09A15C;
    background: none;
    color: #09A15C;
}
.btn-yellow{
    background-color: #FFC239;
    color: white;
    margin: 1em 0;
}
.btn-yellow:hover{
    border: 1px solid #FFC239;
    background: none;
    color: #FFC239;
}
/* future section code end here */

/* Dr. Muhammad Yunus section code start here */
.yunus{
    background-color: #fff;
    border: 1px solid #000;
}
/* Dr. Muhammad Yunus section code end here */